.cell{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: right;
    border: solid 1px black;
    line-height: 30px;
    text-align: center;
}
.header {
    background-color:#4546;
}